<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Product</h1>
    <h3>add product</h3>
    <form action="/product.php" method="post">
      <label>product name</label>
      <input type="text" name="name" />
      <label>product quantity</label>
      <input type="number" name="quantity" />
      <label>product price</label>
      <input type="number" name="price" />
      <button type="submit">add</button>
    </form>
  </body>
</html>
